.container {
  display: flex;
  flex-direction: column;
  margin-right: auto;
  margin-left: auto;

  height: 100vh;
  max-width: 960px;

  padding-right: 10px;
  padding-left: 10px;
  padding-top: 10px;
  box-sizing: border-box;
}

.mainHeader {
  color: white;
  text-align: center;
  font-size: xxx-large;
  margin-bottom: 10px;
}

.bookContainer {
  margin-bottom: auto;
  max-height: 90vh;
  overflow: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.newBookBtn {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: green;
  padding: 20px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
  font-size: xx-large;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 10px;
}

.newBookBtn:hover {
  background: green;
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.4s ease 0s;
}
