.bookContainer {
  position: relative;
  background-color: whitesmoke;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
}

.deleteBtn {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #ed3330;
  padding: 10px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
  font-size: medium;
  font-weight: bold;
  margin: 0 auto;
}

.deleteBtn:hover {
  background: #ed3330;
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.4s ease 0s;
}

.header {
  font-size: x-large;
  font-weight: bold;
}

.paragraph {
  font-size: large;
}

.readCheck {
  transform: scale(1.5);
}
